<!--
<div class="ui menu">
  <div class="header item">Brand</div>
  <a class="active item">Link</a>
  <a class="item">Link</a>
  <div class="ui dropdown item">
    Dropdown
    <i class="dropdown icon"></i>
    <div class="menu">
      <div class="item">Action</div>
      <div class="item">Another Action</div>
      <div class="item">Something else here</div>
      <div class="divider"></div>
      <div class="item">Separated Link</div>
      <div class="divider"></div>
      <div class="item">One more separated link</div>
    </div>
  </div>
  <div class="right menu">
    <div class="item">
      <div class="ui action left icon input">
        <i class="search icon"></i>
        <input type="text" placeholder="Search">
        <button class="ui button">Submit</button>
      </div>
    </div>
    <a class="item">Link</a>
  </div>
</div>
-->
<header *ngIf="view != 'beamer'">
    <div id="header-inner">
        <h1 (click)="menu = !menu">ZaPF App</h1>
        <button *ngIf="state=='loading'" type="button" id="status" class="loading" disabled="disabled">lade</button>
        <button *ngIf="state=='offline'" type="button" id="status" class="offline" disabled="disabled">offline</button>
        <button *ngIf="state=='error'" type="button" id="status" class="error" (click)="refreshData()">Verbindungsfehler!</button>
        <button *ngIf="state=='online'" type="button" id="status" class="online" (click)="refreshData()">
            <img alt="aktualisieren" src="static/style/reload.svg">
        </button>
    </div>
</header>
<nav [class.active]="menu" (click)="menu = false">
    <ul>
        <li><a (click)="chView('slots');">Zeitplan</a></li>
        <li><a (click)="chView('news');">Newsticker</a></li>
        <li><a (click)="chView('contacts');">Infos & Kontakte</a></li>
        <li><a (click)="chView('maps');">Karten</a></li>
        <li><a (click)="chView('prefs');">Einstellungen</a></li>
    </ul>
</nav>

<div class="content" *ngIf="!data">
    <section>
        <h3>wird geladen ...</h3>
    </section>
</div>



<div id="beamerleft"
     class="slotscomponent"
     style="margin-top: 50px; margin: 50px 0px 0px 20px" 
     *ngIf="data && view == 'beamer'"
     [class.highlight]="prefs.slots.highlight" 
     [slots]="data.slots" 
     [prefs]="prefs.slots">
</div>

<div *ngIf="data && view == 'beamer'" style="color: #fff; padding: 10px 20px; font-size: 30px;" id="beamerleft">
    <h1>Zeitplan</h1>
</div>

<div id="beamerright"
     class="newscomponent"
     style="margin-top: 50px; margin: 50px 20px 0px 0px" 
     *ngIf="data && view == 'beamer'"
     [news]="data.news">
</div>

<div *ngIf="data && view == 'beamer'" style="color: #fff; padding: 10px 22px; font-size: 30px;" id="beamerright">
    <h1>News</h1>
</div>

<div id="content" 
     class="slotscomponent" 
     *ngIf="data && view == 'slots'" 
     [class.highlight]="prefs.slots.highlight" 
     [slots]="data.slots" 
     [prefs]="prefs.slots">
</div>

<div id="content" 
     class="newscomponent" 
     *ngIf="data && view == 'news'" 
     [news]="data.news">
</div>

<div id="content" class="contacts" *ngIf="data && view == 'contacts'">
<!--
    <section class="alarm">
        <h3>Uni-Notruf:</h3>
        <p>(+49 7531 88) <strong>2222</strong></p>
    </section>-->
    <section style="padding-top: 5px;">
        <h3 style="margin: 0 5px;">Tagungsbüro</h3>
        <p style="margin: 0 10px 10px 10px;">
            +49 (0)931 31 85150 <br>
	    Mobil: +49 (0)152 25953668
            Öffnungszeiten: 00:00-24:00 Uhr <br>
            Ort: Physikalisches Institut, Raum B016
        </p>
<!--        <h3 style="margin: 0 5px;">Orga-Büro</h3>
        <p style="margin: 0 10px 10px 10px;">
            (+49 6221) 54 19555 <br>
            Öffnungszeiten: 00:00-24:00 Uhr <br>
            Ort: INF 226 (Physikalisches Institut), Raum 00.210
	</p> -->
        <h3 style="margin: 0 5px;">Kontakt</h3>
        <p style="margin: 0 10px 10px 10px;">
            Allgemein: <a href="mailto:tagungsbuero@wuerzburg18.de">
                tagungsbuero@wuerzburg18.de
            </a> <br>
            Anträge: <a href="mailto:resos@wuerzburg18.de">
                resos@wuerzburg18.de
            </a> <br> 
            Arbeitskreise: <a href="mailto:arbeitskreise@wuerzburg18.de">
                arbeitskreise@wuerzburg18.de
            </a> <br>
            Telegram: <a href="https://t.me/wuerzburg18">
                @wuerzburg18
            </a> <br>
	    Telegram-Channel: <a href="https://t.me/joinchat/AAAAAEgM4XybEyd9DpiDnQ">
                ZaPF in Würzburg News
            </a> <br>
        </p>
    </section>
    <section style="padding-top: 5px;">
        <h3 style="margin: 0 5px;">Vertrauenspersonen</h3>
        <p style="margin: 0 10px 10px 10px;">
            <a href="mailto:lennart.ahrens@wuerzburg18.de">
                Lennart Ahrens
            </a> <br>
            <a href="mailto:chantal.beck@wuerzburg18.de">
                Chantal Beck
            </a> <br>
            <a href="mailto:christian.birk@wuerzburg18.de">
                Christian Birk
            </a> <br>
            <a href="mailto:andreas.christ@wuerzburg18.de">
                Andreas Christ
            </a> <br>
            <a href="mailto:lisa.dietrich@wuerzburg18.de">
                Lisa Dietrich
            </a> <br>
            <a href="mailto:oliver.irtenkauf@wuerzburg18.de">
                Oliver Irtenkauf
            </a> <br>
            <a href="mailto:elena.offenberg@wuerzburg18.de">
                Elena Offenberg
	    </a> <br>
            <a href="mailto:karola.schulz@wuerzburg18.de">
                Karola Schulz
	    </a> <br>
        </p>
    </section>
    <section style="padding-top: 5px;">
        <h3 style="margin: 0 5px;">Öffnungszeiten Unterkünfte</h3>
        <p style="margin: 0 10px 10px 10px;">
            22:00 - 09:00
        </p>
        <h3 style="margin: 0 5px;">Duschzeiten</h3>
	<ul>
		<li>Fr 06:00-Sa 01:00</li>
		<li>Sa 06:00-Sa 09:00</li> 
		<li>Sa 10:15-Sa 17:30</li>
		<li>Sa 22:00-So 01:00</li>
		<li>So 06:00-So 09:00</li>
	</ul>
    </section>
    <!--
    <section>
        <h3>Vertrauenspersonen</h3>
        <ul>
            <li *ngFor="#p of data.trustpersons">{{p}}</li>
        </ul>
        <p>
            <a href="mailto:vertrauensperson@zapf.uni-konstanz.de">
                vertrauensperson@zapf.uni-konstanz.de
            </a>
        </p>
    </section>
    -->
</div>

<div id="content" class="maps" *ngIf="view == 'maps'">
    <section>
        <h3>Überischtskarte</h3>
        <a href="https://goo.gl/xADsF4">
            Link zur Google Maps Karte
        </a>
    </section>
    <section>
        <h3>Kneipentourkartekarte</h3>
        <a href="https://goo.gl/22ESpV">
            Link zur Google Maps Karte
        </a>
        <a href="maps/kneipenkarte_komplett.png">
            <img alt="Kneipentour" src="maps/kneipenkarte_komplett.png" />
        </a>
    </section>
    <section>
        <h3>Physikalisches Institut</h3>
        <a href="maps/gebaeudeplan_ergaenzt_2.PNG">
            <img alt="Physikalisches Institut" src="maps/gebaeudeplan_ergaenzt_2.PNG" />
        </a>
    </section>
    <section>
        <h3>Mehrzweckhalle</h3>
        <a href="maps/mzhB.png">
            <img alt= "Unterkünfte" src="maps/mzhB.png" />
        </a>
        <a href="maps/mzhA.png">
            <img alt= "Unterkünfte" src="maps/mzhA.png" />
        </a>
    </section>
    <section>
        <h3>Feuerwehr</h3>
        <a href="maps/fwA.png">
            <img alt= "Unterkünfte" src="maps/fwA.png" />
        </a>
    </section>
</div>

<div id="content" class="preferences" *ngIf="view == 'prefs'">
    <form>
        <table>
            <tr>
                <td><input id="slotsShowFinished" type="checkbox" [(ngModel)]="prefs.slots.showFinished" /></td>
                <td><label for="slotsShowFinished">Beendete Slots anzeigen</label></td>
            </tr>
            <tr>
                <td><input id="slotsShowNotAk" type="checkbox" [(ngModel)]="prefs.slots.showNotAk" /></td>
                <td><label for="slotsShowNotAk">Nicht-AK Slots anzeigen</label></td>
            </tr>
            <tr>
                <td><input id="slotsHighlight" type="checkbox" [(ngModel)]="prefs.slots.highlight" /></td>
                <td><label for="slotsHighlight">Aktuellen Slot hervorheben</label></td>
            </tr>
        </table>
    </form>
</div>

