<section
    class="{{slot.type}}"
    *ngFor="#slot of slots"
    [class.hide]="!(slot.type == 'ak' || prefs.showNotAk) || !(unfinished(slot.finish) || prefs.showFinished)"
    [class.unfinished]="unfinished(slot.finish)"
    >
    <h3>{{slot.name}}</h3>
    <p class="time">{{ slot.begin }} - {{  slot.end }}</p>
    <ul *ngIf="slot.type == 'ak'">
        <li *ngFor="#ak of slot.aks">
            {{ ak.name }}
            <span class="info">
              <!--
                von
                <span class="responsible">{{ ak.responsible }}</span>
              -->
                Ort: 
                <span class="room">{{ ak.room }}</span>
            </span>
            
            <span *ngIf="ak.url != ''" class="overlay">
                <a target="_blank" href="{{ ak.url }}">[Wiki]</a>
            </span>
          
        </li>
    </ul>
    <ul  *ngIf="slot.place != '' ">
        <li style="background-color: rgba(255,255,255,0); color: #fff; padding: 2px 6px;">
            <span style="color: #000;" class="info">
                Ort: 
                <span class="room">{{ slot.place }}</span>
            </span>     
        </li>
    </ul>
</section>
