@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600,700');

/* Fettgerechneter Regular-Font sieht auf den meißten Systemen
   besser aus als der extra vorhandene Bold Schriftsatz
   (Probleme mit Letter-margin) */
/*@font-face {
    font-family: 'Cantarell';
    font-style: normal;
    font-weight: 700;
    src: local('Cantarell Bold'),
         url('fonts/Cantarell-Bold.otf') format('opentype'),
         url('fonts/Cantarell-Bold.ttf') format('truetype');
}*/

html {
    font-family: 'Source Sans Pro', sans-serif;
}

